<%- include('./paritals/head.partial.ejs'); -%>
    <link rel="stylesheet" href="./../public/css/list.css">
    </head>

    <body>
        <%- include('./paritals/nav.partial.ejs'); -%>
            <div id="patientList" class="container">
                <div class="row">
                    <div class="offset-1 col-10">
                        <h1 class="text-center">
                            REGISTER
                        </h1>

                        <p class="text-left">
                            Register of all Ghanaian Citizens, the data below is taken from the various institutions such as <br> Electoral Commission <b>(E.C)</b>, Ghana Immigration Service <b>(G.I.S)</b>, National Health Insurance Authority <b>(N.H.I.A)</b>
                        </p>

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/viewpatientList/1">D.V.L.A</a></li>
                                <li class="breadcrumb-item"><a href="/viewpatientList/2">E.C</a></li>
                                <li class="breadcrumb-item"><a href="/viewpatientList/3">G.I.S</a></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="offset-1 col-10 patientListItem">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">View Records</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0; i< list.length; i++){%>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>
                                            <%= list[i].name %>
                                        </td>
                                        <td>
                                            <!-- <%if(dbID == 1){%>
                                                <%='D.V.L.A'%>
                                                    <%}else if(dbID == 2){%>
                                                        <%='E.C'%>
                                                            <%}else if(dbID == 3){%>
                                                                <%='G.I.S'%> -->
                                            <%= list[i].phone %>
                                        </td>
                                        <td>
                                            <a href="/viewMedRecord/<%=dbID%>/<%=list[i].id%>">View</a>
                                        </td>
                                    </tr>
                                    <%}%>
                            </tbody>
                        </table>
                    </div>
                    <%}%>
                </div>
            </div>
            <%- include('./paritals/footer.partial.ejs'); -%>